/* GLOBAL STYLES */

body {
	background-color: #fff;}

code {
    font-size: 1.1em;
    font-weight: bold;}

/* WRAPPER */

.wrapper {
    width: 948px;
    margin: 0 auto;}

/* HEADER */

.header {
    border: 3px double gray;
    margin-bottom: 20px;
    background-color: #dedede;
    padding: 10px;}

/* NAVIGATION */

.menu {
    background-color: silver;
    border: 1px solid gray;
    display: flex;
    padding: 20px;
    list-style-type: none;
    justify-content: space-around;}

.menu-links {
    color: black;
    padding:21px;
    text-decoration: none;
    text-align: center;}

.menu-items {
    flex-grow: 1;
    margin: 0 8px;}

/* MAIN */

.main-content {
    border: 3px double gray;
    padding: 10px;
    background-color: #dedede;}

.menu-links:hover {
    background-color: gray;
    color: white;}