/* GLOBAL STYLES */

body {
	background-color: #fff;
}

code {
    font-size: 1.1em;
    font-weight: bold;
}

/* WRAPPER */

.wrapper {
    width: 948px;
    margin: 0 auto;
}

/* HEADER */

.header {
    border: 3px double gray;
    margin-bottom: 20px;
    background-color: #dedede;
    padding: 10px;
}

/* NAVIGATION */

.menu {
    background-color: silver;
    border: 1px solid gray;
    display: flex;
    padding: 10px;
    list-style-type: none;
    justify-content: space-around;
    border: 3px double gray;
    text-align: center;
    color: black;
    padding: 10px;
}
.flex {
    display: flex;
    justify-content:space-between;
    flex-grow: 1;
    
    border: gray;
    
}
.item {
    flex-grow: 1;
    margin: 0 8px;
}
/* MAIN */

.main-content {
    border: 3px double gray;
    background-color: #dedede;
    padding: 10px;
}